__pycache__/
*.pyc
*/wandb/*

# Large datasets
*/datasets/*

# Model outputs and checkpoints
*/checkpoints/*

# Common large files
*.ckpt
*.pth
*.bin
*.safetensors
*.h5
*.html
*.md
*.json
*.pt
*.jinja
*.js
*.png

.vscode